@import "variables";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: $color_background;
  color: $color_black;
}

a {
  text-decoration: none;
  color: $color_black;
}

h1 {
  font-size: 6rem;
  margin-bottom: 3rem;
  color: $color_text;
}

ul {
  list-style-type: none;
}

.wrapper {
  padding: 5rem;

  &__content {
    // Tutaj będzie grid
  }
}

.header,
.main,
.aside,
.footer {
  border-radius: 1.5rem;
  padding: 2rem;
  background-color: $color_secondary;
}

.header {
  &__branding {
    background-color: $grey4;
    padding: 3rem;
    font-size: 2rem;
  }

  &__nav-item {
    background-color: $grey1;
    padding: 1rem;
    font-size: 1.5rem;
  }
}

.main {
  &__box {
    background-color: $grey2;
    font-size: 1.4rem;
    padding: 1rem;
  }
}

.aside {
  &__text {
    background-color: $grey1;
    padding: 3rem;
    font-size: 1.4rem;
  }

  &__link {
    background-color: $grey4;
    padding: 1.5rem;
    font-size: 1.7rem;
  }
}

.footer {
  &__branding {
    padding: 2rem;
    background-color: $grey1;
    font-size: 2rem;
  }

  &__socials-item {
    padding: 1rem;
    background-color: $grey4;
    font-size: 1.5rem;
  }
}
